<div class="row">
 <div class="col-sm-5">
    <form method="post">
        <textarea name="content" value="Profile" rows="20" cols="120"><TMPL_VAR NAME=content></textarea> 
        <br><br><input class="btn btn-primary" type="submit" name="page" value="Save Profile">
    </form>
 </div>
</div>
